<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>CardOwnerName</th>
      <th>CardNumber</th>
      <th>ExperationDate</th>
      <th>CVV</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of listaEmpleados">
      <td>{{empleado.PMId}}</td>
      <td>{{empleado.CardOwnerName}}</td>
      <td>{{empleado.CardNumber}}</td>
      <td>{{empleado.ExperationDate}}</td>
      <td>{{empleado.CVV}}</td>
      <button class="btn btn-info" (click)="empleadoPorParametro(empleado.PMId)">Ver detalles</button>
      <button (click)="eliminarEmpleado(empleado.PMId)">Eliminar</button>
      <button (click)="editarEmpleado(empleado.PMId)">Editar</button>
    </tr>
  </tbody>
</table>

<button class="btn btn-success" (click)="show = !show">Crear</button>

<form>
  <input type="text" #CardOwnerName placeholder="CardOwnerName" [(ngModel)]="insertEmpleado.CardOwnerName"[ngModelOptions]="{standalone: true}">
  <input type="text" #CardNumber placeholder="CardNumber" [(ngModel)]="insertEmpleado.CardNumber"[ngModelOptions]="{standalone: true}">
  <input type="text" #ExperationDate placeholder="ExperationDate" [(ngModel)]="insertEmpleado.ExperationDate"[ngModelOptions]="{standalone: true}">
  <input type="text" #CVV placeholder="CVV" [(ngModel)]="insertEmpleado.CVV"[ngModelOptions]="{standalone: true}">
  <button (click)="insertarEmpleado()">Enviar</button>
  <button (click)="editarVerdad()">Editar</button>
</form>